In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
lending_data_df = pd.read_csv("Resources/lending_data.csv")


# Review the DataFrame
lending_data_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [8]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = lending_data_df["loan_status"].values


# Separate the X variable, the features
X = lending_data_df.drop(columns="loan_status").values

In [9]:
# Review the y variable Series
y

array([0, 0, 0, ..., 1, 1, 1])

In [10]:
# Review the X variable DataFrame
X[0:5]

array([[1.07000000e+04, 7.67200000e+00, 5.28000000e+04, 4.31818182e-01,
        5.00000000e+00, 1.00000000e+00, 2.28000000e+04],
       [8.40000000e+03, 6.69200000e+00, 4.36000000e+04, 3.11926606e-01,
        3.00000000e+00, 0.00000000e+00, 1.36000000e+04],
       [9.00000000e+03, 6.96300000e+00, 4.61000000e+04, 3.49240781e-01,
        3.00000000e+00, 0.00000000e+00, 1.61000000e+04],
       [1.07000000e+04, 7.66400000e+00, 5.27000000e+04, 4.30740038e-01,
        5.00000000e+00, 1.00000000e+00, 2.27000000e+04],
       [1.08000000e+04, 7.69800000e+00, 5.30000000e+04, 4.33962264e-01,
        5.00000000e+00, 1.00000000e+00, 2.30000000e+04]])

### Step 3: Split the data into training and testing datasets by using `train_test_split`.

In [7]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
# YOUR CODE HERE!

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [8]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!

# Fit the model using training data
# YOUR CODE HERE!

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [9]:
# Make a prediction using the testing data
# YOUR CODE HERE!

### Step 3: Evaluate the model’s performance by doing the following:

* Generate a confusion matrix.

* Print the classification report.

In [11]:
# Generate a confusion matrix for the model
# YOUR CODE HERE!

In [12]:
# Print the classification report for the model
# YOUR CODE HERE!

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** WRITE YOUR ANSWER HERE!

---